xlrd==1.2.0
TestLink-API-Python-client
cryptography
incremental
rarfile
numpy
coreschema
PyMySQL
django-rest-swagger
coreapi
Django
djangorestframework
django-celery
django-cors-headers
djangorestframework-stubs
django-import-export
django-formtools
PyYAML
pytest
requests
simplejson
jsonpath
django-redis
celery
celery-with-redis
django-simpleui
redis
Pillow
uWSGI
supervisor
pycryptodome
allure-pytest
pytest-rerunfailures
pytest-repeat
python-jenkins
channels
channels_redis
asgi_redis
asgiref
six